---
Checks:          '-*,modernize-use-nullptr,readability-inconsistent-declaration-parameter-name,modernize-use-override'
WarningsAsErrors: ''
HeaderFilterRegex: './include/*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            mspatz
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
...

